@layout('admin/layout/master')
@set('title', 'gestion des articles')

@section('main')
  <h1>Hello Articles!</h1>
  <a href="/admin/posts/create">créer un article</a>
  @include('admin/partials/postList')
@endsection
