@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=KoHo&display=swap');

:root {
  --grey: #676767;
  --lightGrey: #EEEEEE;
  --red: #ae0000;
  --deepBlue: #001E4B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'KoHo', sans-serif;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1, h1 *,
h2, h2 *,
h3, h3 * {
  font-family: 'Hammersmith One', serif;
  font-weight: normal;
}

.content {
  display: flex;
  flex: 1;
}

.content main {
  flex: 1;
  padding: 1rem;
}