@layout('client/layout/master')
@set('title', 'le blog de Martin Déclert')
@section('style')
<link rel="stylesheet" href="/style/css/client/home.css">
@endsection

@section('main')
  <div class="title">
    <img src="/images/home-hero.jpg" alt="">
    <h1>Bienvenue sur le blog tech de<br><span class="bold">Martin Déclert</span></h1>
  </div>
@endsection
