header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 3rem;
}

header h2 * {
  color: black;
}

header h2 span {
  color: #676767;
}

header nav a {
  color: black;
  font-size: 1.25rem;
}

header nav a:not(:last-child) {
  margin-right: 2rem;
}